<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello World.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Small World.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F2729BD20E1146600DEC9AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3898C020E0E9DE00C90066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F739B5E21246B31009E6CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F739B6C21246CB1009E6CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
